@(eventoForm:Form[Evento])

@import helper._

<html>
  <body>
    @form(routes.EventosController.cria()) {
      
      @inputText(eventoForm("nome"))
      
      @inputText(eventoForm("emailParaContato"))
      
      @textarea(eventoForm("descricao"))
      
      <select name="estado">
        @for(estado <- Estado.values) {
          <option value="@estado.name">@estado.name</option>
        }
      </select>
      
      @inputText(eventoForm("site"))
      
      @inputText(eventoForm("twitter"))
      
      <fieldset>
        <legend>Período</legend>
        @inputDate(eventoForm("dataDeInicio"))
        
        @inputDate(eventoForm("dataDeFim"))
      </fieldset>
      
      <input type="submit" value="Novo Evento">
    }
  </body>
</html>